{% extends "network/layout.html" %}

{% load static %} 

{% block static %}
    <script defer src="{% static 'network/inbox.js' %}?{% now 'U' %}"></script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <form class="container-xl border" id="newPostForm" action="{% url 'new-post' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="newPost">New Post:</label>
                <textarea class="form-control" id="newPost" name="content" required rows="3"></textarea>
                <p id="error"></p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}

    <div class="container">
        <div class="row">
            {% for post in page_obj.object_list %}
                {% include "network/post.html" %}
            {% endfor %}
        </div>
    </div>

    {% include 'network/paginator.html' %}
{% endblock %}